main {
  background-color: #cfdee4;
  color: #5a5959;
  padding: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  max-width: 100%;
  overflow-x: hidden;
}

.banner {
  display: block;
  margin: 0 auto;
}

.but {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
}
.tt {
  color: #000000;
  text-align: center;
}
